# This is a basic workflow to help you get started with Actions
name: YAPF Formatting Check

# Controls when the action will run. 
on: [ push ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: YAPF Python Code Formatting Check
        # You may pin to the exact commit or the version.
        # uses: AlexanderMelde/yapf-action@a2053dba9adceb173b38e58acaad7436a1934bdd
        uses: AlexanderMelde/yapf-action@v1.0
        with:
          args: --style='{based_on_style: pep8, indent_width: 2}'
          
